.VideoSidebar{
    position: absolute;
    top: 300px;
    right: 35px;
    
}
.VideoSidebar__options{
    color: white;
    padding-bottom: 10px;
    text-align: center;
}
@media only screen and  (max-width: 440px){
    .VideoSidebar{
        top: 46%;
    }
  }