html{
  scroll-snap-type: y mandatory;
}
.App{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  /* Colocando o app__videos no centro */
  display: grid;
  place-items: center;
  
}

.app__videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  /* para que o conteudo não ultrapasse a bordar do app__videos */
  overflow: scroll;
  /* sumindo com a barra de scroll que foi criada por causa do estilo overflow-scroll */
  scrollbar-width: none;
  /* efeito de snap arrastar */
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Escondendo a scroll bar nos seguintes navegadores chrome, opera e safari */

.app__videos::-webkit-scrollbar{
  display: none;
}

/* Escondendo no internet explorer, edge e firefox */
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width:none;
}